@import "tailwindcss";
@import "swiper/css";

:root {
  --bg-main: #ffffff;
  --bg-light: #f9f9f9;
  --text-main: #484848;
  --text-subtle: #949494;
  --border: #cbcbcb;
  --purple: #9810fa;
  --purple-subtle: #f3e8ff;
}

/* Use this class name: 'custom-scrollbar' or keep 'no-scrollbar' if you prefer */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of vertical scrollbar */
  height: 6px; /* Height of horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Color of the handle (Gray) */
  border-radius: 10px; /* Round edges */
}

/* Firefox Support */
.custom-scrollbar {
  scrollbar-width: thin; /* IMPORTANT: Makes it thin on Firefox */
  scrollbar-color: #cbd5e1 transparent; /* Handle color | Track color */
}

button {
  cursor: pointer;
}

h3 {
  font-size: 24px;
}
@media (max-width: 480px) {
  h3 {
    font-size: 20px;
  }
}
h1,
h2 {
  font-size: 40px;
}
@media (max-width: 480px) {
  h1,
  h2 {
    font-size: 30px; /* mobile */
  }
}

p,
.paragraph {
  font-size: 16px;
}

@media (max-width: 768px) {
  p,
  .paragraph {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  p,
  .paragraph {
    font-size: 12px; /* mobile */
  }
}
