@import "tailwindcss";
@import 'swiper/css';

:root {
  --bg-main: #ffffff;      
  --bg-light: #f9f9f9;     
  --text-main: #484848; 
  --text-subtle:   #949494;
  --border: #cbcbcb ;
  --purple:#9810fa;
  --purple-subtle:#f3e8ff;

}

/* Custom Scrollbar Hiding */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button{
    cursor: pointer;
}



h3{
  font-size: 24px;
}
@media (max-width: 480px) {
  h3{
    font-size: 20px;
  }
}
h1,h2{
  font-size: 40px
}
@media (max-width: 480px) {
  h1, h2 {
    font-size: 30px; /* mobile */
  }
}


p,
.paragraph {
  font-size: 16px;
}

@media (max-width: 768px) {
  p,
  .paragraph {
    font-size: 14px; 
  }
}

@media (max-width: 480px) {
  p,
  .paragraph {
    font-size: 12px; /* mobile */
  }
}